# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment variables
.env

# Django stuff
staticfiles/
media/
db.sqlite3

# Docker
*.log
docker-compose.override.yml

# VS Code
.vscode/

# PyCharm
.idea/

# Byte-compiled files
*.pyo

# Testing
.coverage
htmlcov/
.pytest_cache/

# Node
node_modules/
